body  {
    margin: 0;
    padding: 0;
  }
  #left
  {
    float: left;
    width: 310px;
    height: 700px;
    margin: 10px;
    text-align: center;
    border-right: 1px solid black;
  }
  #right{
    float: left;
    width: 400px;
    height: 700px;
    margin: 20px;
  }

h1{
  text-align: center;
}
h5{
  margin-left: -10px;

}
.icon{
  vertical-align: bottom;
  width: 20px;
  height: 20px;
}
